{% extends "base.html" %}
{% block body %}

<style>
    .block img {
        width: 75px;
        height: 75px;
        float: left;
        margin: 0 1rem 0 0;
    }
</style>

<!-- Card for showing post -->
{% for post in posts.items %}
<div class="card my-3 q-box">
    <div class="card-body">
        <div class="block">
            {% if current_user.is_authenticated %}
            {% if current_user == post.username %}
            <div class="update-delete-btn">
                <a class="btn btn-warning edit" href="/post/{{post.id}}/update">Edit</a>
                <a href="/delete/{{post.id}}" type="button" class="btn btn-danger delete"
                    onclick="return confirm('Are You Sure To Delete?')">Delete</button></a>
            </div>
            {% endif %}
            {% endif %}
            <img class="rounded-circle account-img" src="static/profile_img/{{ post.image_file }}">
            <h2><a href='/profile/writer/post{{post.id}}/' style="text-decoration: none;">{{ post.username }}</a>
            </h2>
            <h6>Date Post {{post.date_posted.strftime('%Y-%m-%d') }}</h6>
        </div><br>
        <h5 class="card-title"><a href="/post/{{post.id}}" class="card-title">{{ post.title|safe }}</a></h5>
        <p class="card-text">
            {%if post.content != post.content[:120] %}
            {{ post.content[:120]|safe }}<b>...</b> &nbsp; <a href="/post/{{post.id}}">Readmore</a>
            {%else%}
            {{ post.content|safe }}
            {% endif %}
        </p>
        {% if post.image %}
        <img src="static/profile_img/{{ post.image }}" width="100%" height="auto">
        {% endif %}
        {% if current_user.is_authenticated %}
    {% if current_user != post.username %}
    <br><br>
    <form class="form-inline">
        <a href="/like{{post.id}}" role="button" class="btn btn-inline
        {% for like_exists in like_exists %}
        {% if like_exists.id == post.id and like_exists.user_id == current_user.id %}
        btn-{{like_exists.btn_color}}
        {% endif %}
        {% endfor %}">👍 Like
        {% for like_count in like_count %}
        {% if like_count.id == post.id %}
            【{{like_count[1]}}】
        {% endif %}
        {% endfor %}
      </a>
      <a href="/dislike{{post.id}}" role="button" class="btn btn-inline ml-2
      {% for dislike_exists in dislike_exists %}
        {% if dislike_exists.id == post.id and dislike_exists.user_id == current_user.id %}
        btn-{{dislike_exists.btn_color}}
        {% endif %}
        {% endfor %}">👎 Dislike
        {% for dislike_count in dislike_count %}
        {% if dislike_count.id == post.id %}
            【{{dislike_count[1]}}】
        {% endif %}
        {% endfor %}
      </a>
      <a href="/post/{{post.id}}" role="button" class="btn btn-info btn-inline" style="float: right;">🏷️ Comment &emsp;
    {% for comt_count in comt_count %}
    {% if comt_count.id == post.id %}
        【{{comt_count[1]}}】
    {% endif %}
    {% endfor %}
      </a>
    </form> 
    {% endif %}
    {% endif %}
    </div>
</div>
{%endfor%}

<!-- Pagination for page -->
<ul class="pagination">
    {% if posts.has_next or posts.has_prev %}
    {% if posts.has_prev %}
    <li class="page-item"><a class="page-link" href="{{ url_for('favourite_show', page_num=posts.prev_num) }}">Previous</a>
    </li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Previous</span>
        {% endif %}
    </li>
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
    {% if page_num %}
    {% if posts.page_num == page_num %}
    <li class="page-item"><a class="page-link mb-4" href="{{ url_for('favourite_show', page_num=page_num) }}">{{ page_num
            }}</a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link mb-4" href="{{ url_for('favourite_show', page_num=page_num) }}">{{ page_num
            }}</a>
    </li>
    {% endif %}
    {% else %}
    ...
    {% endif %}
    {% endfor %}
    {% if posts.has_next %}
    <li class="page-item"><a class="page-link" href="{{ url_for('favourite_show', page_num=posts.next_num) }}">Next</a></li>
    {% else %}
    <li class="page-item disabled"><span class="page-link">Next</span>
        {% endif %}
        {% endif %}
    </li>
</ul>

{% endblock %}